
[run]
omit =
    ./venv/*
    ./tests/*
    */__init__.py
    **/jupyter/*
    **/docs/*
    ./main.py
    **/utils/model/*
    **/model/materia.py
    **/model/date_form.py

[report]
show_missing = True
